.container {
    width: 762px;
    height: 90px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    text-align: center;

}
.btn{
    align-self: center;
    margin-left: 2%;
    width: 72px;
    height: 34px;
    background-color: #3c444e;
    color: white;
    line-height: -12px;
    border-radius: 5px;
}
.btngrey{
    align-self: center;
    margin-left: 2%;
    width: 72px;
    height: 34px;
    background-color: #e5e5e5;
    color: black;
}
.btnblue{
    align-self: center;
    margin-left: 2%;
    width: 72px;
    height: 34px;
    background-color: #3aa1e7;
    color: white;
}
