body {
    background-color: #ffffff;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
hr{
    border-top: 1px dotted #f1f1f1;
}
.ch1 {
   display: table-cell;
    text-align: left;

}
.ch2 {
    display: table-cell;
    text-align: left;
}
.wrap{
    display:table-row;
}
.table{
    display: table;
    table-layout: fixed;
    overflow-x: auto;
    width: 100%;
}
.img {
    height: 40px;
    width: 40px;
}
.daymonth{
    width: 20px;
    height: 30px;
}
.year{
    width: 40px;
    height: 30px;
}
.full_half{
    width: 80%;
}